h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1em 1.3em;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 5% 5%;
}

.missions-profile,
.rockets-profile {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.missions-list,
.rockets-list {
  border: 1px solid #eee;
  padding: 1.2em 1.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  min-width: 20em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: left;
}

.mission-name,
.rocket-name {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.missions-cancel {
  color: red;
  background: transparent;
  border: 1px solid red;
  font-size: 0.5em;
  width: fit-content;
  margin: 0.4em 0 0 0;
}

.missions-cancel:hover {
  opacity: 1;
  cursor: pointer;
  color: white;
  background: red;
  transform: scale(1.1);
}
