header {
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo img {
  width: 4em;
  height: 4em;
}

header ul {
  display: flex;
  list-style-type: none;
}
